/* <img src="https://drive.google.com/uc?export=view&id=1QyO3WAbpLIAyeeiYr-KR6z1AtlXpwmI2" alt="logo"/> */
:root {
    --white-color: #ffffff;
    --text-color: #333333;
    --Primary-color: #1d3557;
    --accent-color: #457b9d;
    --red-color: #e63946;
    --green-color: #06d6a0;
  }
body {
    background-color: var(--white-color);
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    line-height: 32px;
    letter-spacing: .2rem;
  }
  .container {
    margin: 0 2rem 0 2rem;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logo img{
    width: 15vw;
  } 
  .title {
    text-align: center;
    font-style: 500;
    font-size: x-large;
    width: 40%;
  }
  .divider {
    height: 1px;
    background-color: var(--text-color);
    padding: 0;
    margin: 0;
  }
  #welcome {
    display: flex;
    justify-content: space-between;
  }
  .subTitles {
    text-align: center;
  }
  .btnTheme {
    text-align: center;
    margin: 5% 0 5% 0;
  }
  .btnTheme button {
  
    min-height: 50px;
    cursor: pointer;
    margin: 5px;
    background-color: var(--white-color);
    border: 1px solid var(--Primary-color);
    border-radius: 5px;
    color: var(--Primary-color);
    font-size: 1rem;
    line-height: 32px;
    letter-spacing: .2rem;
    padding: 0 1% 0 1%;
  
  }
  .btnTheme button:hover {
    background-color: var(--Primary-color);
    color: var(--white-color);
    border: 0;
  }
  .btnTheme button:disabled {
    background-color: gray;
    color: var(--white-color);
    border: 0;
  }
  .result {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5% 0;
  }
  .score {
  
    font-style: 600;
    font-size: larger;
    width: 10%;
    padding: 2%;
    border: 1px solid var(--accent-color);
    color: #fff;
    background-color: #457b9d;
  }
  form {
    border-radius: 10px;
    padding: 20px;
    margin: 25px 0;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
  }
  #questionContainer {
    background-color: #f1faee;
    padding: 5%;
    border-radius: 3%;
  }
  #question{
    padding-bottom: 5%;
    font-style: 400;
    margin: auto;
    font-size: large;
  }
  #answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  } 
  #answers li {
    list-style: none;
  } 
  #answers button {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .divRestart {
    margin-top: 9%;
    text-align: end;
  }
  .divRestart button {
    background-color: #457b9d;
    color: #fff;
    border-color: #fff;
    max-width: auto !important;
  }
  #welcome {
    display: none;
  }
  #userStats {
    margin-top: 20px;
    margin-left: 20px;
  }
  